In [16]:
#Latihan 1 Tuple
T6=(39,"tiga sembilan", False,9+69j)
print("Tuple",T6)
print('-'*45)
T9=(93,"tiga sembilan",True,69+9j)
print("Tuple 2",T9)

Tuple (39, 'tiga sembilan', False, (9+69j))
---------------------------------------------
Tuple 2 (93, 'tiga sembilan', True, (69+9j))

In [6]:
#Latihan 2 Tuple
T69=T6+T9
T69

(39, 'tiga sembilan', False, (9+69j), 93, 'tiga sembilan', True, (69+9j))

In [8]:
#Latihan 1 List
L2=[2,3,5,7,9,13]
L3=['dua','tiga','empat']

In [12]:
#Latihan 2 List
L2[4]=77
L3[1]=2
print(L2)
print('-'*20)
print(L3)

[2, 3, 5, 7, 77, 13]
--------------------
['dua', 2, 'empat']